html {
    height: 100%;
}
body {
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-image: linear-gradient(to bottom right, green, rgba(0, 255, 0, 0), rgb(255,0,0, 0),  red);
}

.sign-select{
	display: inline-grid;
	grid-template-columns: 70vw 30vw;
	height: auto;
	grid-auto-rows: auto;
	grid-gap: 1vh 1vw;
	margin: 0px;
	padding: 0px;
	justify-content: left;
	align-content: center;
}

.sign-select img {
	width: 8vw;
	height: 8vw;
	border-radius: 50%;
	margin: 10px;
}

.enabled:hover{
	box-shadow:  0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.your-sign{
	padding: 0px 8vw 0px 8vw;
	display: inline-grid;
	grid-template-columns: auto auto auto auto;
	grid-column-gap: 10px;
	grid-auto-rows: auto;
	justify-content: space-around;
	align-content: center;
}

.your-sign p{
	display: block;
	width: auto;
	font-size: 27px;
	margin: 4vw 10px 0px 10px;
	/*visibility: hidden;*/
}

.my-sign{
	margin: 0px 20px 0px 20px;
	display: inline-grid;
	grid-template-columns: auto auto;
	grid-column-gap: 10px;
	grid-auto-rows: auto;
	justify-content: left;
	align-content: center;
	/*visibility: hidden;*/
}

.my-sign p{
	display: block;
	width: auto;
	font-size: 27px;
	margin: 4vw 10px 0px 10px;
}