
.head{
	display: inline-grid;
	justify-content: space-around;
	width: 100%;
	height: auto;
	grid-template-columns: auto auto auto auto auto;
	grid-auto-rows: auto;
	grid-column-gap: 0px;
	box-shadow:  0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card{
	display: flex;
	width: auto;
	height: auto;
	justify-content: center;
	align-items: center;
}

.vs{
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0px;
	margin: 0px;
}

.card p{
	font-family: 'Architects Daughter', cursive;
	font-size: 20px;
	text-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.vs p{
	font-family: 'Architects Daughter', cursive;
	font-size: 35px;
}

.marker{
	justify-content: center;
}

.marker img{
	width: 120px;
	height: 120px;
	border-radius: 50%;
	margin: 10px;
}


.arena{
	display: grid;
	/*position: relative;*/
	/*top: 10vh;*/
	/*left: 40vw;*/
	height: 360px;
	width: 360px;
	grid-template-columns: auto auto auto;
	grid-auto-rows: auto;
	grid-gap: 0px;
	background-color: black;
}

.cell{
	display: flex;
	width: 120px;
	height: 120px;
	background:chocolate;
    box-shadow:inset -5px -5px rgba(0, 0, 0, 0.2), inset 5px 5px rgba(200, 200, 200, 0.2);
    justify-content: center;
    align-items: center;
}

.wrapper{
	/*position: relative;*/
	/*top: 16vh;*/
	display: grid;
	grid-template-columns: 340px auto 340px;
	grid-gap: 20px;
	justify-content: center;
	align-items: center;
	margin: 0px;
}

.box-marker{
	width: 95px;
	height: 95px;
	border-radius: 40%;
}

.seen{
	visibility: hidden;
}

.re{
	display: grid;
	grid-template-columns: auto auto;
	grid-gap: 18px;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: auto;
}

.result{
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0px;
	padding: 0px;
}

.result p{
	font-family: 'Architects Daughter', cursive;
	font-size: 50px;
}