
.head{
	display: inline-grid;
	width: 100%;
	height: auto;
	grid-template-columns: 50% 50%;
	grid-auto-rows: auto;
	grid-column-gap: 0px;
	box-shadow:  0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.opp-card{
	display: inline-grid;
	width: 100%;
	height: auto;
	grid-template-columns: auto auto;
	justify-content: right;
}

.my-card{
	display: inline-grid;
	width: 100%;
	height: auto;
	grid-template-columns: auto auto;
	justify-content: left;
}

.score{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.marker{
	justify-content: center;
}

.marker img{
	width: 120px;
	height: 120px;
	border-radius: 50%;
	margin: 10px;
}

.point{
	display: block;
	width: 35px;
	height: 35px;
	border: 2px solid black;
	border-radius: 50%;
	background-color: rgba(0,0,0,0);
	margin: 10px;
}


.arena{
	display: grid;
	/*position: relative;*/
	/*top: 10vh;*/
	/*left: 40vw;*/
	height: auto;
	width: 300px;
	grid-template-columns: auto auto auto;
	grid-auto-rows: auto;
	grid-gap: 0px;
	background-color: black;
}

.cell{
	display: flex;
	width: 120px;
	height: 120px;
	background:chocolate;
    box-shadow:inset -5px -5px rgba(0, 0, 0, 0.2), inset 5px 5px rgba(200, 200, 200, 0.2);
    justify-content: center;
    align-items: center;
}

.wrapper{
	position: relative;
	top: 20vh;
	display: flex;
	justify-content: center;
}

.box-marker{
	width: 95px;
	height: 95px;
	border-radius: 40%;
}

.seen{
	visibility: hidden;
}